@import '../main'


$code-panel-header-background: #e6e6e6
$code-panel-content-background: #f2f2f2


.chapter-header
  >.chapter-header-name
    font-family: 'Manrope-ExtraBold'
    font-size: 32px
    margin: 35px 40% 20px 0

  >.chapter-header-description
    font-size: 16px
    margin-right: 20%


.code-panel
  border: 1px solid $code-panel-header-background
  box-sizing: border-box
  margin-bottom: 25px
  width: 100%

  >.code-panel-header
    background-color: $code-panel-header-background
    padding: 8px 16px

    >span
      font-size: 1em

  >.code-panel-content
    background-color: $code-panel-content-background

    >pre
      font-size: 10pt
      line-height: 1.5
      margin: 0
      padding: 16px


.text-panel
  margin-bottom: 25px

  >.text-panel-content
    font-size: 16px
    line-height: 1.5

  a
    color: #0065b3

  a:hover
    text-decoration: underline


.subtitle-anchor
  margin: 40px 0 20px 0

  >.subtitle-anchor-header
    font-family: 'Manrope-ExtraBold'
    font-size: 32px


.note-panel
  background-color: #efd9fd
  border-radius: 8px
  margin-bottom: 25px
  padding: 20px

  >.note-panel-header
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    margin-bottom: 20px

    >img
      height: 20px
      width: 20px
      margin: auto 5px auto 0

    >.note-panel-title
      color: #3b2e58
      font-family: 'Manrope-Bold'
      font-size: 16px

  >.note-panel-content
    font-size: 16px
    line-height: 1.5

    a
      color: #3b2e58
      font-family: 'Manrope-Bold'

    a:hover
      text-decoration: underline
