@font-face {
  font-family: "Manrope-Bold";
  src: url("/root/fonts/Manrope-Bold.ttf");
}
@font-face {
  font-family: "Manrope-ExtraBold";
  src: url("/root/fonts/Manrope-ExtraBold.ttf");
}
@font-face {
  font-family: "Manrope-Regular";
  src: url("/root/fonts/Manrope-Regular.ttf");
}
@font-face {
  font-family: "Manrope-SemiBold";
  src: url("/root/fonts/Manrope-SemiBold.ttf");
}
@font-face {
  font-family: "Cascadia-Mono";
  src: url("/root/fonts/Cascadia-Mono.ttf");
}
body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #171717;
  font-family: "Manrope-SemiBold";
  margin: 0;
}

p, div {
  color: #171717;
  font-family: "Manrope-Regular";
  font-size: 11pt;
  margin: 0;
}

code {
  color: #171717;
  font-family: "Cascadia-Mono";
}

a {
  cursor: pointer;
  text-decoration: none;
}

header {
  margin: 0 auto;
  max-width: 800px;
  min-width: 600px;
  padding-left: 15px;
  padding-right: 15px;
}

section, footer {
  margin: 0 auto;
  max-width: 800px;
  min-width: 600px;
  padding: 15px;
}

.remove-button-container {
  display: flex;
  flex-direction: row-reverse;
  height: 24px;
  width: 100%;
}

.code-editor {
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  margin-bottom: 25px;
  width: 100%;
}
.code-editor > .code-editor-header {
  background-color: #e6e6e6;
  display: flex;
  padding: 8px 16px;
}
.code-editor > .code-editor-header > .code-editor-header-select {
  background-color: transparent;
  border: 1px solid silver;
  color: #171717;
  height: 24px;
  cursor: pointer;
  font-family: "Manrope-Regular";
  font-size: 1em;
  outline: none;
}
.code-editor > .code-editor-header .editor-remove-button {
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  margin-right: 4px;
  padding: 2px;
}
.code-editor > .code-editor-header .editor-remove-button:hover {
  background-color: #d9d9d9;
}
.code-editor > .code-editor-content {
  background-color: #f2f2f2;
}
.code-editor > .code-editor-content > .code-editor-content-area {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  display: block;
  font-family: "Cascadia-Mono";
  font-size: 10pt;
  line-height: 1.5;
  margin: 0;
  outline: none;
  padding: 16px;
  resize: vertical;
  width: 100%;
}

.note-editor {
  background-color: #efd9fd;
  border-radius: 8px;
  margin-bottom: 25px;
  padding: 20px 0;
}
.note-editor > .note-editor-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 20px;
}
.note-editor > .note-editor-header > .buttons-container {
  display: flex;
}
.note-editor > .note-editor-header > .buttons-container > .link-item-container {
  display: flex;
  visibility: hidden;
}
.note-editor > .note-editor-header > .buttons-container .href-input {
  background-color: transparent;
  border: 1px solid #3b2e58;
  box-sizing: border-box;
  font-family: "Manrope-Regular";
  height: 24px;
  margin-right: 4px;
  outline: none;
  width: 200px;
}
.note-editor > .content-editable {
  font-size: 16px;
  outline: none;
  padding: 20px 20px 0 20px;
}
.note-editor > .content-editable > a {
  color: #3b2e58;
  font-family: "Manrope-Bold";
}
.note-editor > .content-editable > a:hover {
  text-decoration: underline;
}
.note-editor .editor-button {
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  margin-right: 4px;
  padding: 2px;
}
.note-editor .editor-button:hover {
  background-color: #e5c1fc;
}
.note-editor .editor-remove-button {
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  margin-right: 4px;
  padding: 2px;
}
.note-editor .editor-remove-button:hover {
  background-color: #e5c1fc;
}

/*# sourceMappingURL=editor.css.map */
